@using KotikiShop.Models;
@model IEnumerable<KotikiShop.Models.Cat>
@{
    ViewData["Title"] = "Каталог";
    var family = Context.Request.Query["family"];
    var age = Context.Request.Query["age"];
    var price = int.TryParse(Context.Request.Query["price"], out int result) ? result : 0; ;
    var gender = Context.Request.Query["gender"];
    var viewModel = ViewBag.CatFamiliesCatalog as List<CatFamily>;
    var search = Context.Request.Query["search"];
}

<h1 style="text-align: center;" class="pt-3">@ViewData["Title"]</h1>
@if (!Model.Any())
{
    <div class="alert alert-warning text-center mt-4">
        <strong>Нічого не знайдено!</strong> Спробуйте змінити запит або вибрати інші фільтри.
    </div>
}
<form method="get" class="mb-4">
    <div class="row">
        
        <div class="col-md-3">
            <label for="age" class="form-label">Вік</label>
            <select id="age" name="age" class="form-select">
                <option value="">Будь-який</option>
                <option value="1" selected="@(age == "1")">Менше 1 року</option>
                <option value="2" selected="@(age == "2")">1 рік</option>
                <option value="3" selected="@(age == "3")">2 роки</option>
                <option value="4" selected="@(age == "4")">3 роки</option>
                <option value="5" selected="@(age == "6")">4 роки</option>
                <option value="6" selected="@(age == "7")">5 років і більше</option>
            </select>
        </div>

        
        <div class="col-md-3">
            <label for="family" class="form-label">Порода</label>
            <select id="family" name="family" class="form-select">
                <option value="">Будь-яка</option>
                @if (viewModel != null)
                { 
                    @foreach (var item in viewModel)
                    {
                        <option value="@item.Name" selected="@(family == item.Name)">@item.Name</option>
                    }
                }
            </select>
        </div>

        
        <div class="col-md-3">
            <label for="price" class="form-label">Ціна</label>
            <input type="range" id="price" name="price" min="0" max="100" value="@price" class="form-range" oninput="updatePriceValue(this)" />
            <div class="d-flex justify-content-between">
                <div>
                    <span id="price-value">@price</span> ETH
                </div>
                <div>
                    100 ETH
                </div>
            </div>
        </div>

        
        <div class="col-md-3">
            <label for="gender" class="form-label">Стать</label>
            <select id="gender" name="gender" class="form-select">
                <option value="All" selected="@(string.IsNullOrEmpty(gender) || gender == "all")">Будь-яка</option>
                <option value="Male" selected="@(gender == "Male")">Чоловіча</option>
                <option value="Female" selected="@(gender == "Female")">Жіноча</option>
            </select>
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-3 w-100">Застосувати фільтри</button>
</form>

<div class="row">
    @foreach (var obj in Model)
    {
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="@obj.ImageUrl" alt="cat-image" class="card-img-top">
                    <div class="card-body">
                        <div class="mb-2">
                            <span class="fw-bold">@obj.Name</span>
                            <br>
                            @if (obj.CatFamily != null)
                            {
                                <span class="text-muted">@obj.CatFamily.Name</span>
                            }
                            <br>
                            <span class="text-muted">@obj.Description</span>
                        </div>
                        <div> 
                            <span class="fw-bold">@obj.Price</span> ETH
                        </div>
                        <hr>
                        <div class="d-flex flex-row gap-2" role="group">
                            <a class="btn btn-primary w-100" asp-controller="Customer" asp-action="OrderDetails" asp-route-id="@obj.Id">
                                <i class="bi bi-bag me-1"></i>Придбати
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    }
</div>

<script>
    
    function updatePriceValue(slider) {
        var priceValue = document.getElementById('price-value');
        priceValue.textContent = slider.value;
    }
</script>
