@model IEnumerable<KotikiShop.Models.Cat>
@{
	ViewData["Title"] = "Catalog";
}

<h1 style="text-align: center;" class="pt-3">@ViewData["Title"]</h1>

<div class="row">
    @foreach (var obj in Model)
    {
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img src="@obj.ImageUrl" alt="cat-image" class="card-img-top">
                <div class="card-body">
                    <div class="mb-2">
                        <span class="fw-bold">@obj.Name</span>
                        <br>
                        <span class="text-muted">@obj.CatFamily.Name</span>
                        <br>
                        <span class="text-muted">@obj.Description</span>
                    </div>
                    <div> 
                        <span class="fw-bold">@obj.Price</span> ETH
                    </div>
                    <hr>
                    <div class="d-flex flex-row gap-2" role="group">
                        <a class="btn btn-primary w-100" asp-controller="Home" asp-action="OrderDetails" asp-route-id="@obj.Id">
                                <i class="bi bi-bag me-1"></i>Buy
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>