@model IEnumerable<KotikiShop.Models.Cat>
@{
    ViewData["Title"] = "Manage Cat Families";
}

<h1 style="text-align: center;" class="pt-3">@ViewData["Title"]</h1>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-white">Cat List</h>
        </div>
        <div class="col-6 text-end" style="padding-right:0;">
            <a asp-controller="Admin" asp-action="CreateCat" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Create New Cat
            </a>
        </div>
    </div>
    <br />
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Available cats</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
            <td colspan="2">
                <img src="" alt="cat-image" class="img-fluid" width="100">
            </td>
            </tr>
            <tr>
                <td colspan="2" class="fw-bold">@obj.Name</td>
            </tr>
            <tr>
                <td colspan="2" class="text-muted">@obj.Description</td>
            </tr>
            <tr>
                <td class="fw-bold">@obj.Price</td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" asp-controller="Admin" asp-action="EditCat" asp-route-id="@obj.Id">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteCat" asp-route-id="@obj.Id">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>