@model IEnumerable<KotikiShop.Models.Cat>
@{
    ViewData["Title"] = "Manage Cats";
}

<h1 style="text-align: center;" class="pt-3">@ViewData["Title"]</h1>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-white">Cat List</h>
        </div>
        <div class="col-6 text-end" style="padding-right:0;">
            <a asp-controller="Admin" asp-action="CreateCat" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i>
                Create New Cat
            </a>
        </div>
    </div>
    <br />
</div>

<div class="row">
    @foreach (var obj in Model)
    {
        <div class="col-sm-4 mb-3">
            <div class="card" style="width: 18rem;">
                <img src="@obj.ImageUrl" alt="cat-image" class="card-img-top" style="width: 100%; height: 200px; object-fit: scale-down;">
                <div class="card-body">
                    <div class="mb-2">
                        <span class="fw-bold">@obj.Name</span>
                        <br>
                            <span class="text-muted">@obj.CatFamily.Name</span>
                        <br>
                        
                        @if (obj.Description.Length > 100) {
                            <span class="text-muted">@obj.Description.Substring(0, 100)...</span>
                        }
                        else {
                            <span class="text-muted">@obj.Description</span>
                        }
                    </div>
                    <div> 
                        <span class="fw-bold">@obj.Price</span> ETH
                    </div>
                    <hr>
                    <div class="d-flex flex-row gap-2" role="group">
                        <a class="btn btn-primary w-100" asp-controller="Admin" asp-action="EditCat" asp-route-id="@obj.Id">
                            <i class="bi bi-pencil-square"></i> Edit
                        </a>
                        <a class="btn btn-danger w-100" asp-controller="Admin" asp-action="DeleteCat" asp-route-id="@obj.Id">
                            <i class="bi bi-trash-fill"></i> Delete
                        </a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>